*{margin: 0;padding: 0;}
html,body,.box{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: .14rem;
}
html{
	font-size: 625%;
	background: #f8f6f6;
}
a{
	text-decoration: none;
	color: #000;
}
.box{
	display: flex;
	flex-direction: column;
}
%qzj{
	display: flex;
	justify-content: center;
	align-items: center;
}
header{
    width: 100%;
    height: .4rem;
    background: #000;
    display: flex;
    line-height: .4rem;
    
}
header b{
        flex:1;
        text-align: center;
    }
header b i{
    color: #fff;
}
header  span{
    flex:7.5;
    color: #fff;
    padding-left: .1rem;
}
section{
    width: 100%;
    flex: 1;
    overflow-y:scroll; 
}
footer{
    width: 100%;
}
.meng{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}
.small{
    width: 90%;
    margin-left: 5%;
    height: 4rem;
    background: #fff;
    border-radius: .1rem;
    margin-top: 1rem;
}
.top{
    width: 1.3rem;
    height: .6rem;
    margin:0rem auto;
    padding-top: .2rem;
}
.top b{
    width: 100%;
    height: .4rem;
    display: block;
}
.top b img{
    width: 100%;
    height: 100%;
}
.bot{
    position: relative;
}
#txt, #pwd{
    width: 80%;
    height: .5rem;
    color: #ccc;
    border:none;
    margin-top: .3rem;
    margin-left: 10%;
    border-bottom: 1px solid #ccc;
    padding-left: .2rem;
}
.bot b{
    position: absolute;
    top: 44px;
    left: 35px;
}
.bot img{
    width: 50%;
}
.bot span{
    position: absolute;
    top: 126px;
    left: 35px;
}
button{
    width: 80%;
    height: .5rem;
    border-radius: .1rem;
    color: #fff;
    border:none;
    margin-left: 10%;
    margin-top: .4rem;
    background: #2FBA77;
}